<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IAnthologyParticipantPojoMapper">
    <cache />
    <select id="findAllByAnthologyIdOrderByParticipateDate"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.AnthologyParticipant"
        useCache="true">
        <![CDATA[
            select * from 
                anthology_participant 
            where 
                anthology_id = #{anthologyId}
            and
                deleted = false
            order by 
                participant_date
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into anthology_participant (
                author_id,
                anthology_id,
                participate_date,
                deleted
            ) values (
                #{authorId},
                #{anthologyId},
                #{participateDate},
                #{deleted}
            )
        ]]>
    </insert>
    <update id="delete">
        <![CDATA[
            update anthology_participant
            set
                deleted = true
            where
                author_id=#{authorId}
            and
                anthology_id=#{anthologyId}
        ]]>
    </update>
</mapper>