<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IAnthologyPojoMapper">
    <cache />
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Anthology"
        useCache="true">
        <![CDATA[
            select * from anthology where id = #{id}
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into anthology (
                id,
                title,
                summary,
                create_date,
                publish_date,
                update_date,
                author_id,
                cover_image_id,
                additional_info_id,
                is_published,
                is_shared
            ) values (
                #{id},
                #{title},
                #{summary},
                #{createDate},
                #{publishDate},
                #{updateDate},
                #{authorId},
                #{coverImageId},
                #{additionalInfoId},
                #{published},
                #{shared}
            )
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            update anthology set
                title = #{title},
                summary = #{summary},
                update_date  = #{updateDate},
                publish_date  = #{publishedDate},
                cover_image_id = #{coverImageId},
                is_published = #{published},
                is_shared = #{shared}
            where
                id = #{id}
        ]]>
    </update>
</mapper>