<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IAnthologyPojoMapper">
	<cache />
	<select id="findOneById"
		resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Anthology" 
		useCache="true">
        <![CDATA[
        SELECT * FROM anthology WHERE anthology._id = #{id}
        ]]>
	</select>
	<insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO anthology (
            title,
            summary,
            create_date,
            publish_date,
            update_date,
            author_id,
            cover_image_id,
            additional_info_id,
            is_published
        )
        VALUES (
            #{title},
            #{summary},
            #{createDate},
            #{publishDate},
            #{updateDate},
            #{authorId},
            #{coverImageId},
            #{additionalInfoId},
            #{published}
        )
        ]]>
	</insert>
	<update id="update">
        <![CDATA[
        UPDATE anthology
        SET
            title          = #{title},
            summary        = #{summary},
            update_date    = #{updateDate},
            publish_date   = #{publishedDate},
            cover_image_id = #{coverImageId},
            is_published   = #{published}
        WHERE
            _id = #{id}
        ]]>
	</update>
</mapper>
