<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IAnthologyAdditionalInfoPojoMapper">
    <select id="findOneById" resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.AnthologyAdditionalInfo">
        <![CDATA[
            select * from anthology_additional_info where id = #{id}
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into anthology_additional_info (
                id,
                view_number,
                praise_number,
                comment_number,
                bookmark_number,
                followup_number,
                article_number
            )
            values (
                #{id},
                #{viewNumber},
                #{praiseNumber},
                #{commentNumber},
                #{bookmarkNumber},
                #{followupNumber},
                #{articleNumber}
            )
        ]]>
    </insert>
    <update id="update" keyProperty="true">
        <![CDATA[
            update 
                anthology_additional_info
            set
                view_number     = #{viewNumber},
                praise_number   = #{praiseNumber},
                comment_number  = #{commentNumber},
                bookmark_number = #{bookmarkNumber},
                followup_number = #{followupNumber},
                article_number  = #{articleNumber}
            where
                id = #{id}
        ]]>
    </update>
</mapper>