<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IArticleCommentPojoMapper">
    <cache />
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.ArticleComment">
        <![CDATA[
            select * from article_comment where id = #{id}
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into article_comment (
                id,
                author_id,
                create_date,
                update_date,
                content,
                parent_id,
                anthology_id
            )
            values (
                #{id},
                #{authorId},
                #{createDate},
                #{updateDate},
                #{content},
                #{parentId},
                #{articleId}
            )
        ]]>
    </insert>
    <update id="update" keyProperty="true">
        <![CDATA[
            update 
                article_comment
            set
                update_date     = #{updateDate},
                content   = #{content}
            where
                id = #{id}
        ]]>
    </update>
</mapper>