<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IArticlePojoMapper">
    <cache />
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Article"
        useCache="true">
        <![CDATA[
            select * from article where id=#{id}
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into article (
                id, title, publish_date, update_date, create_date,
                content, summary, anthology_id, additional_info_id,
                cover_image_id, is_published
            ) values (
                #{id}, #{title},#{publishDate},#{updateDate},#{createDate}
                #{content}, #{summary}, #{anthologyId}, #{additionalInfoId}, 
                #{coverImageId}, #{published}
            );
        ]]>
    </insert>
    <update id="update" keyProperty="id" flushCache="true">
        <![CDATA[
            update article set 
                title = #{title},
                summary = #{summary}, 
                content = #{content}, 
                update_date = #{updateDate},
                cover_image_id = #{coverImageId},
                is_published = #{published}
            where
                id = #{id}
        ]]>
    </update>
</mapper>