<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IAuthenticationPojoMapper">
    <select id="findOneByTokenAndType"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Authentication">
        <![CDATA[
            select * from authentication where toekn=#{token} and type=#{type}
        ]]>
    </select>
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Authentication">
        <![CDATA[
            select * from authentication where id=#{id}
        ]]>
    </select>
    <select id="findAllByAuthorId"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Authentication">
        <![CDATA[
            select * from authentication where author_id=#{authorId}
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into authentication (
                id, token, password, register_date, last_login_date, 
                type, author_id, enable
            ) values (
                #{id}, #{token}, #{password}, #{registerDate}, #{lastLoginDate}, 
                #{type}, #{authorId}, #{enable}
            )
        ]]>
    </insert>
    <update id="updatePassword" keyProperty="id">
        <![CDATA[
            update authentication set
                password = #{password}
            where
                id=#{id}
        ]]>
    </update>
    <update id="updateLastLoginDate" keyProperty="id">
        <![CDATA[
            update authentication set
                last_login_date = #{lastLoginDate}
            where
                id=#{id}
        ]]>
    </update>
    <update id="updateEnable" keyProperty="id">
        <![CDATA[
            update authentication set
                enable = #{enable}
            where
                id=#{id}
        ]]>
    </update>
</mapper>