<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IAuthorPojoMapper">
    <cache />
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Author"
        useCache="true">
        <![CDATA[
            select * from author where id=#{id}
        ]]>
    </select>
    <select id="findOneByUserName"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Author"
        useCache="true">
        <![CDATA[
            select * from author where user_name=#{userName}
        ]]>
    </select>
    <select id="findOneByNickName"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Author"
        useCache="true">
        <![CDATA[
            select * from author where nick_name=#{nickName}
        ]]>
    </select>
    <select id="isNickNameExist" resultType="boolean"
        useCache="true">
        <![CDATA[
            select count(id) >0 from author where nick_name=#{nickName}
        ]]>
    </select>
    <select id="isUserNameExist" resultType="boolean"
        useCache="true">
        <![CDATA[
            select count(id) >0 from author where user_name=#{userName}
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into author (id, icon_image_id, description, additional_info_id, nick_name)
            values (#{id}, #{iconImageId}, #{description}, #{additionalInfoId}, #{nickName})
        ]]>
    </insert>
    <update id="update" keyProperty="id" flushCache="true">
        <![CDATA[
            update author set
            icon_image_id = #{iconImageId},
            description = #{description},
            additional_info_id = #{additionalInfoId},
            nicke_name = #{nickName}
            where id=#{id}
        ]]>
    </update>
</mapper>