<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IAuthorFollowerPojoMapper">
    <cache />
    <select id="findAllByAuthorIdOrderByFollowDate"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.AuthorFollower"
        useCache="true">
        <![CDATA[
            select * from 
                author_follower
            where 
                author_id = #{authorId}
            order by 
                follow_date
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into author_follower (
                author_id,
                follower_id,
                follow_date
            ) values (
                #{authorId},
                #{followerId},
                #{followDate}
            )
        ]]>
    </insert>
    <update id="delete">
        <![CDATA[
            delete from author_follower
            where
                author_id=#{authorId}
            and
                follower_id=#{followerId}
        ]]>
    </update>
</mapper>