<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IResourceMapper">
    <cache />
    <select id="findOneByMd5"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Resource"
        useCache="true">
        <![CDATA[
            select * from resource where md5 = #{md5}
        ]]>
    </select>
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Resource"
        useCache="true">
        <![CDATA[
            select * from resource where id = #{id}
        ]]>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into resource (id, content, md5, mime_type) 
            values (#{id}, #{content}, #{md5}, #{mimeType})
        ]]>
    </insert>
    <update id="update" flushCache="true" keyProperty="id">
        <![CDATA[
            update resource set 
            content = #{content},
            md5 = #{md5},
            mime_type= #{mimeType} 
            wherer id = #{id} 
        ]]>
    </update>
</mapper>