<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.pojo.IRolePojoMapper">
    <cache />
    <select id="findOneByName"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Role"
        useCache="true">
        <![CDATA[
             select * from role where name = #{name}
        ]]>
    </select>
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Role">
        <![CDATA[
            select * from role where id = #{id}
        ]]>
    </select>
    <insert id="create" flushCache="true" keyProperty="id"
        useGeneratedKeys="true">
        <![CDATA[
            insert into role (id, name) values (#{id}, #{name})
        ]]>
    </insert>
</mapper>