@import "../../../common";
section.article-summary-card {
  overflow: hidden;
  padding: 16px;
  border-radius: 6px;
  background-color: $global_color_card_bg;

  header {
    border-bottom: 1px solid $global_color_border;
    padding-bottom: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    img.article-summary-author-icon {
      @include circle_icon(48px)
    }
    div.article-summaries-author-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-items: center;
      margin-left: 8px;
      overflow: hidden;
      width: 100%;
      .article-summary-author-nickname-and-update-date {
        display: flex;
        flex-direction: row;
        justify-items: start;
        align-items: center;
        width: 100%;
        a.article-summary-author-nickname {
          font-size: $global_font_size_normal;
          margin-bottom: 8px;
          color: $global_color_text_light;
        }
        a.article-summary-author-nickname:hover {
          color: $global_color_text_normal;
        }
        span {
          margin-left: auto;
          justify-self: end;
          font-size: $global_font_size_smaller;
          color: $global_color_text_light;
          margin-bottom: 8px;
        }
      }

      .article-summary-tags-container {
        color: $global_color_text_light;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: start;
        overflow: hidden;
        a {
          font-size: $global_font_size_smaller;
          margin-left: 8px;
          display: inline-block;
          text-overflow: ellipsis;
          word-break: keep-all;
        }
        a:first-of-type {
          margin-left: 0;
        }
        a:visited {
          color: $global_color_text_light;
        }
        a:hover {
          color: $global_color_text_normal;
        }
        a.hide-on-small {
          display: none;
        }
        @include responsive($width-small) {
          a.hide-on-small {
            display: inline-block;
          }
        }
      }
      a.article-summary-author-follower:hover {
        color: $global_color_text_normal;
      }
    }
  }

  article {
    a.article-summary-title {
      font-size: $global_font_size_bigger2;
      font-weight: lighter;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: break-word;
      width: 100%;
      word-break: break-word;
      text-align: left;
      margin-bottom: 16px;
      color: $global_color_text_normal;
      text-decoration: none;
    }

    div.article-summary-cover-img {
      height: 200px;
      margin-left: -16px;
      margin-right: -16px;
      cursor: pointer;
      background-position: 50% 50% !important;
      background-size: cover !important;
      background-origin: border-box !important;
      background-color: transparent;
    }

    section.article-summary-content {
      width: 100%;
      text-align: start;
      max-height: 130px;
      min-height: 84px;
      font-size: $global_font_size_normal;
      overflow-y: hidden;
      white-space: pre-wrap;
      line-height: $global_line_height_normal;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: end;

    button {
      max-width: 120px;
      overflow: hidden;
      font-size: $global_font_size_smaller;
      text-overflow: ellipsis;
    }

    @include responsive($width-extra-small) {
      button {
        max-width: 130px;
      }
    }
    @include responsive($width-special-extra-large-begin) {
      button {
        max-width: 80px;
      }
    }
    @include responsive($width-special-extra-large-end) {
      button {
        max-width: 130px;
      }
    }

    a {
      font-size: $global_font_size_smaller;
      cursor: pointer;
      color: $global_color_text_light;
      text-decoration: none;
      display: inline-block;
      text-overflow: ellipsis;
      margin-left: 16px;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      span {
        display: none;
        text-align: start;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      @include responsive($width-extra-small) {
        span {
          display: inline-block;
          margin-left: 4px;
        }
      }
    }
    a:first-of-type {
      margin-left: auto;
    }
    a:last-of-type {
      margin-right: 8px;
    }
    a:hover {
      color: $global_color_text_normal;
    }
  }
}
