<mat-sidenav-container class="main-nav-container">
  <mat-sidenav
    #drawer
    class="main-sidenav"
    fixedInViewport="true"
    [mode]="'over'"
    [opened]="false">
    <mat-list>
      <h3>Website</h3>
      <mat-list-item>
        <a routerLink="/home">
          Home
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/about">
          About us
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>Author</h3>
      <mat-list-item>
        <a routerLink="/login">
          Login/Register
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/logout">
          Logout
        </a>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-topnav">
      <button mat-icon-button
              (click)="drawer.toggle()" class="main-topnav-sidenav-trigger">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
      <button mat-button class="register-or-login-btn">
        Login/Register
      </button>
      <span class="separator"></span>
      <a routerLink="/home" class="topnav-logo-container">
        <fa-icon [icon]="['fas', 'burn']"></fa-icon>
        <span class="topnav-logo-text">Simple Blog</span>
      </a>
      <span class="separator"></span>
      <a routerLink="/search" class="search-btn">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </a>
      <button mat-button class="write-article-btn">
        Write Article
      </button>
    </mat-toolbar>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
