<mat-sidenav-container class="main-nav-container">
  <mat-sidenav
    #drawer
    class="main-sidenav"
    fixedInViewport="true"
    [mode]="'over'"
    [opened]="false">
    <section>
      <a routerLink="/home" class="sidenav-logo-container">
        <fa-icon [icon]="['fas', 'burn']"></fa-icon>
        <span class="sidenav-logo-text">Simple Blog</span>
      </a>

      <a routerLink="/login">
        login/register
      </a>
      <a routerLink="/home">
        most popular articles
      </a>
      <a routerLink="/home">
        most popular anthologies
      </a>
      <a routerLink="/home">
        most popular authors
      </a>
      <a routerLink="/about">
        about us
      </a>
    </section>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-topnav">
      <button mat-icon-button
              (click)="drawer.toggle()" class="main-topnav-sidenav-trigger">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
      <button mat-button class="register-or-login-btn" routerLink="/login">
        Login/Register
      </button>
      <span class="separator"></span>
      <a routerLink="/home" class="topnav-logo-container">
        <fa-icon [icon]="['fas', 'burn']"></fa-icon>
        <span class="topnav-logo-text">Simple Blog</span>
      </a>
      <span class="separator"></span>
      <a routerLink="/search" class="search-btn">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </a>
      <button mat-button class="write-article-btn">
        Write Article
      </button>
    </mat-toolbar>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
