@import "../../common";
.main-nav-container {
  height: 100%;
  .main-sidenav {
    width: 72px;
    background-color: $simpleblog-dark-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    height: 100%;
    a {
      margin: 16px;
      color: $simpleblog-app-light-text-color;
      font-size: 1.5em;
    }
    a.sidenav-bottom-btn {
      justify-self: end;
      margin-top: auto;
    }
    a.sidenav-bottom-btn+a.sidenav-bottom-btn{
      margin-top: 16px;
    }
    a.sidenav-bottom-btn:last-of-type {
      margin-bottom: 32px;
    }
  }
  .main-topnav {
    box-shadow: 0 0 5px mat-color($mat-grey, 300);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: $simpleblog-app-dark-text-color;
    }
    a.topnav-logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      margin-left: -16px;
      .topnav-logo-text {
        font-size: 0.8em;
        margin-left: 5px;
        font-weight: bold;
      }
    }
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 999;
  }
}


