<mat-sidenav-container class="main-nav-container">
  <mat-sidenav
    #drawer
    class="main-sidenav"
    fixedInViewport="true"
    [attr.role]="(hideSideNav | async) ? 'dialog' : 'navigation'"
    [mode]="(hideSideNav | async) ? 'over' : 'side'"
    [opened]="!(hideSideNav | async)">
    <a routerLink="/home">
      <fa-icon [icon]="['fas', 'home']"></fa-icon>
    </a>
    <a routerLink="/login">
      <fa-icon [icon]="['fas', 'user']"></fa-icon>
    </a>
    <a routerLink="/message">
      <fa-icon [icon]="['fas', 'comment-alt']"></fa-icon>
    </a>
    <a routerLink="/article/create">
      <fa-icon [icon]="['fas', 'pen']"></fa-icon>
    </a>
    <a routerLink="/about" class="sidenav-bottom-btn">
      <fa-icon [icon]="['fas', 'code']"></fa-icon>
    </a>
    <a routerLink="/logout" class="sidenav-bottom-btn">
      <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-topnav" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="hideSideNav | async">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
      <a routerLink="/home" class="topnav-logo-container">
        <fa-icon [icon]="['fas', 'burn']"></fa-icon>
        <span class="topnav-logo-text">Simple Blog</span>
      </a>
      <a routerLink="/search">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </a>
    </mat-toolbar>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
