//Customize colors
@import "theme";
$global_color_bg_normal: mat-color($mat-gray, 100);
$global_color_bg_darker: mat-color($mat-gray, 200);
$global_color_highlight_bg_normal: mat-color($mat-yellow, 200);
$global_color_border: mat-color($mat-gray, 300);

$global_color_text_normal: mat-color($mat-gray, 800);
$global_color_text_light: mat-color($mat-gray, 500);
$global_color_text_high_light_darker: mat-color($mat-yellow, 800);
$global_color_text_high_light: mat-color($mat-yellow, 300);
$global_color_text_high_light_hover: mat-color($mat-yellow, 500);
$global_color_button_bg_high_light: mat-color($mat-yellow, 300);
$global_color_card_bg: #FFFFFF;


$global_font_size_smaller: 12px;
$global_font_size_normal: 14px;
$global_font_size_bigger1: 18px;
$global_font_size_bigger2: 22px;

$global_line_height_normal:22px;
$global_line_height_bigger:28px;
@mixin content-flex-layout($direction: column, $align: center) {
  display: flex;
  justify-items: start;
  align-items: $align;
  flex-direction: $direction;

  > * {
    width: 100%;
  }

}
@mixin general-vertical-form-flex-layout {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;

  > * {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  > * + * {
    margin-top: 0;
  }
}
/**
The media query
 */
$width-extra-extra-small: 330px;
$width-extra-small: 450px;
$width-small: 568px;
$width-medium: 768px;
$width-large: 996px;
$width-extra-large: 1200px;
$width-special-extra-large-begin: 1280px;
$width-special-extra-large-end: 1420px;

@mixin responsive($width) {
  @media (min-width: $width) {
    @content;
  }
}
@mixin circle_icon($width) {
  border-radius: 50%;
  overflow: hidden;
  width: $width;
  height: $width;
  min-width: $width;
  max-width: $width;
}




