/* You can add global styles to this file, and also import other style files */
@import "common";
@import "~normalize.css/normalize.css";
html, body {
  height: 100vh;
  margin: 0;
  background-color: mat-color($mat-brown, 50);
}
body {
  main {
    height: 100%;
  }
}
.fa-icon-button {
  fa-icon {
    margin-right: 8px;
  }
}
.button-theme {
  color: mat-color($mat-gray, 800) !important;
  font-weight: bold !important;
}
.checkbox-theme {
  font-weight: bold !important;
}

