/* You can add global styles to this file, and also import other style files */
@import "common";
@import "~normalize.css/normalize.css";
html, body {
  height: 100vh;
  margin: 0;
  background-color: $global_color_bg_normal;
  color: $global_color_text_normal;
}

.fa-icon-button {
  fa-icon {
    margin-right: 8px;
  }
}
.button-theme {
  color: $global_color_text_normal !important;
  font-weight: bold !important;
}
.checkbox-theme {
  font-weight: bold !important;
}
.separator {
  flex: 1 1 auto;
}

