.card-column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .card-column-container {
        flex-direction: row;
    }
}

.card-column-container > section.card-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 768px) {
    .card-column-container > section.card-column {
        width: 49%;
    }
}

.card-column-container > section.card-column > div.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    width: 100%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}

.card-column-container > section.card-column > div.card > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
}

.card-column-container > section.card-column > div.card > header > a.author-icon-wrapper {
    width: 36px;
    height: 36px;
}

.card-column-container > section.card-column > div.card > header > a.author-icon-wrapper > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-column-container > section.card-column > div.card > header > a.author-nick-name {
    margin-left: 6px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-weight: 500;
}

.card-column-container > section.card-column > div.card > header > span.publish-time {
    justify-self: flex-end;
    margin-right: 15px;
    margin-left: auto;
    color: rgba(0, 0, 0, 0.54);
}

.card-column-container > section.card-column > div.card > header > span.card-header-actions-trigger {
    justify-self: flex-end;
    margin-right: 0;
    color: #757575;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.card-column-container > section.card-column > div.card > article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.card-column-container > section.card-column > div.card > article > header {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding: 15px;
}

.card-column-container > section.card-column > div.card > article > header > h1 {
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    max-height: 56px;
    white-space: normal;
}

.card-column-container > section.card-column > div.card > article > header > h1 > a {

}

.card-column-container > section.card-column > div.card > article > a.card-cover {
    height: 250px;
    display: block;
}

.card-column-container > section.card-column > div.card > article > section {
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
}

.card-column-container > section.card-column > div.card > article > section > p {
    text-overflow: ellipsis;
    max-height: 180px;
    line-height: 20px;
    font-size: 14px;
    word-wrap: break-word;
    text-align: start;
    overflow: hidden;
    display: block;
}

.card-column-container > section.card-column > div.card > article > footer {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card-column-container > section.card-column > div.card > article > footer > a.action.left {
    justify-self: flex-start;
    margin-right: auto;
}

.card-column-container > section.card-column > div.card > article > footer > a.action {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 18px;
}

.card-column-container > section.card-column > div.card > article > footer > a.action:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
}

.card-column-container > section.card-column > div.card > article > footer > a.action + label {
    height: 48px;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-right: 10px;
    margin-left: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-break: normal;
}

.card-column-container > section.card-column > div.card > article > footer > a.action + a.action {
    margin-left: 5px;
}


