<div class="container">
  <h1>Register</h1>
  <form class="col-6" #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="registerForm-token">User name or Email</label>
      <input id="registerForm-token" type="text" class="form-control"
             name="token"
             required [(ngModel)]="token" #tokenInput="ngModel"/>
      <div *ngIf=" !tokenInput.valid && !tokenInput.pristine"
           class="alert alert-danger">
        User name or email is required
      </div>
    </div>
    <div class="form-group">
      <label for="registerForm-password">Password</label>
      <input id="registerForm-password" type="password" class="form-control"
             name="password"
             required [(ngModel)]="password" #passwordInput="ngModel"/>
      <div *ngIf=" !passwordInput.valid && !passwordInput.pristine"
           class="alert alert-danger">
        Password is required
      </div>
    </div>
    <div class="form-group">
      <label for="registerForm-nickName">Nick name</label>
      <input id="registerForm-nickName" type="text" class="form-control"
             name="nickname"
             required [(ngModel)]="nickName" #nickNameInput="ngModel"/>
      <div *ngIf=" !nickNameInput.valid && !nickNameInput.pristine"
           class="alert alert-danger">
        Nick name is required
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">Register
    </button>
  </form>
<a routerLink="/">Return to main</a>
</div>
