@import "../../../common";
.article-summaries-container {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-items: start;
  justify-content: stretch;
  align-items: start;
  .article-summaries-container-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    margin-left: 16px;
    margin-right: 16px;
    justify-self: stretch;
    app-article-summary {
      width: 100%;
      height: 100%;
      max-width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .article-summaries-container-column:first-of-type {
    margin-left: 0;
  }

  .article-summaries-container-column:last-of-type {
    margin-right: 0;
  }
}
