@import "../../../common";
.author-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  width: 100%;
  .author-icon {
    @include circle_icon(72px)
  }
  .author-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    width: 100%;
    color: $global_color_text_normal;
    margin-top: 16px;
    span.label {
      font-size: $global_font_size_normal;
      font-weight: bold;
      color: $global_color_text_light;
    }
    a.nickname {
      color: $global_color_text_normal;
      font-size: $global_font_size_bigger1;
    }
    a.nickname:hover {
      color: $global_color_text_normal;
    }
    a.nickname:visited {
      color: $global_color_text_normal;
    }
    div.description {
      font-size: $global_font_size_normal;
      line-height: 22px;
      color: $global_color_text_light;
      margin-top: 16px;
      margin-right: 16px;
      height: 70px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    button.follow-btn {
      margin-top: 16px;
    }
  }
}
@include responsive($width-small) {
  .author-info-card {
    flex-direction: row;
    .author-icon {
      @include circle_icon(152px)
    }
    .author-info-container {
      align-items: start;
      margin-left: 32px;
      height: 152px;
      max-height: 152px;
      margin-top: 0;
      justify-content: space-around;
    }
  }
}
