<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.quhxuxm.quh.project.simpleblog.repository.view.IAuthorDetailViewMapper">
    <cache />
    <resultMap
        type="com.quhxuxm.quh.project.simpleblog.domain.view.AuthorDetail"
        id="authorDetial">
        <id property="id" />
        <result property="iconImageId" />
        <result property="description" />
        <result property="defaultAnthologyId" />
        <result property="nickName" />
        <result property="publishArticlesNumber" />
        <result property="publishCommentsNumber" />
        <result property="publishAnthologiesNumber" />
        <collection property="tags"
            ofType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Tag">
            <id property="id" />
            <result property="text" />
        </collection>
        <collection property="roles"
            ofType="com.quhxuxm.quh.project.simpleblog.domain.pojo.Role"></collection>
        <id property="id" />
        <result property="name" />
    </resultMap>
    <select id="findOneById"
        resultType="com.quhxuxm.quh.project.simpleblog.domain.view.AuthorDetail"
        useCache="true"> 
        <![CDATA[
            select 
                a._id as id, 
                a.description as description,
                a.icon_image_id as icon_image_id, 
                a.default_anthology_id as default_anthology_id, 
                a.nick_name as nick_name 
                aai.publish_articles_number as publish_articles_number,
                aai.publish_comments_number as publish_comments_number,
                aai.publish_anthologies_number as publish_anthologies_number,
                aai.followed_by_number as followed_by_number,
                r.name as roles,
                t.text as tags
            from 
                author a,
                author_additional_info aai,
                author_tag at,
                tag t,
                author_role ar,
                role r
            where
                a.id = #{id},
                a.additional_info_id = aa.id,
        ]]>
    </select>
</mapper>