<div class="login-page-content-container">
  <form class="login-form" #loginForm>
    <mat-form-field >
      <input matInput name="username" required maxlength="40" type="text" placeholder="User name" [(ngModel)]="userName"
             #userNameInput="ngModel"/>
      <fa-icon [icon]="['fas', 'user']" matSuffix></fa-icon>
      <mat-hint>Input your user name</mat-hint>
    </mat-form-field>
    <mat-form-field >
      <input matInput name="password" required maxlength="40" type="password" placeholder="Password"
             [(ngModel)]="password" #passwordInput="ngModel"/>
      <fa-icon [icon]="['fas', 'lock']" matSuffix></fa-icon>
      <mat-hint>Input your password</mat-hint>
    </mat-form-field>
    <div class="button-container">
      <mat-checkbox name="rememberme" class="checkbox-theme" color="accent">Remember me</mat-checkbox>
      <button mat-raised-button color="accent" class="button-theme">
        Login
      </button>
    </div>
  </form>
  <div class="text-divider">
    <h5>Login with social application</h5>
  </div>
  <div class="social-application-container">
    <button mat-mini-fab>
      <fa-icon [icon]="['fab','qq']"></fa-icon>
    </button>
    <button mat-mini-fab>
      <fa-icon [icon]="['fab','weixin']"></fa-icon>
    </button>
    <button mat-mini-fab class="others" [matMenuTriggerFor]="otherLoginOptionsMenu">
      <fa-icon [icon]="['fas','ellipsis-v']"></fa-icon>
    </button>
    <mat-menu #otherLoginOptionsMenu>
      <button mat-menu-item class="fa-icon-button">
        <fa-icon [icon]="['fab','google']"></fa-icon>
        <span>Google</span>
      </button>
      <button mat-menu-item class="fa-icon-button">
        <fa-icon [icon]="['fab','facebook']"></fa-icon>
        <span>Facebook</span>
      </button>
    </mat-menu>
  </div>
  <div class="register-link-container">
    <a routerLink="/register">Go to register</a>
  </div>
</div>
