<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwen.repository.mapper.IArticleMapper">
    <cache/>
    <resultMap id="articleResultMap" type="article">
        <id property="id" column="_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="publishDate" column="publish_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="createDate" column="create_date"/>
        <result property="content" column="content"/>
        <result property="viewNumber" column="view_number"/>
        <result property="commentNumber" column="comment_number"/>
        <result property="praiseNumber" column="praise_number"/>
        <result property="bookmarkNumber" column="bookmark_number"/>
        <result property="anthologyId" column="anthology_id"/>
    </resultMap>
    <resultMap id="articleSummaryResultMap" type="articleSummary">
        <id property="id" column="_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="publishDate" column="publish_date"/>
        <result property="authorId" column="author_id"/>
        <result property="authorNickName" column="author_nickname"/>
        <result property="authorIconImageId" column="author_icon_image_id"/>
        <result property="viewNumber" column="view_number"/>
        <result property="commentNumber" column="comment_number"/>
        <result property="praiseNumber" column="praise_number"/>
        <result property="bookmarkNumber" column="bookmark_number"/>
        <result property="anthologyId" column="anthology_id"/>
        <result property="anthologyTitle" column="anthology_title"/>
    </resultMap>
    <resultMap id="articleDetailResultMap" type="articleDetail">
        <id property="id" column="_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="publishDate" column="publish_date"/>
        <result property="authorId" column="author_id"/>
        <result property="authorNickName" column="author_nickname"/>
        <result property="authorIconImageId" column="author_icon_image_id"/>
        <result property="viewNumber" column="view_number"/>
        <result property="commentNumber" column="comment_number"/>
        <result property="praiseNumber" column="praise_number"/>
        <result property="bookmarkNumber" column="bookmark_number"/>
        <result property="anthologyId" column="anthology_id"/>
        <result property="anthologyTitle" column="anthology_title"/>
    </resultMap>
    <select id="getSummariesOrderByPublishDate" resultMap="articleSummaryResultMap">
        SELECT
        article._id AS _id,
        article.title AS title,
        article.summary AS summary,
        author._id AS author_id,
        author.nicke_name AS author_nick_name,
        author.icon_image_id AS author_icon_image_id,
        article.view_number AS view_number,
        article.comment_number AS comment_number,
        article.praise_number AS praise_number,
        article.bookmark_number AS bookmark_number,
        article.publish_date AS publish_date,
        anthology._id AS anthology_id,
        anthology.title AS anthology_title
        FROM author author INNER JOIN anthology anthology ON author._id = anthology.author_id
        INNER JOIN article article ON anthology._id = article.anthology_id
        ORDER BY article.publish_date
        <if test="isDesc">
            DESC
        </if>
        LIMIT #{start}, #{pageSize}
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (title, summary, content, create_date, anthology_id) VALUES (
            #{title}, #{summary}, #{content}, #{createDate}, #{anthologyId}
        );
    </insert>
    <update id="update">
        UPDATE article
        SET title   = #{title}, summary = #{summary},
            content = #{content}, update_date = #{updateDate}, anthology_id = #{anthologyId}
        WHERE _id = #{id}
    </update>
    <select id="getAllArticleSummariesInAnthology" resultMap="articleSummaryResultMap"
            parameterType="long">
        SELECT
            article._id             AS _id,
            article.title           AS title,
            article.summary         AS summary,
            author._id              AS author_id,
            author.nicke_name       AS author_nick_name,
            author.icon_image_id    AS author_icon_image_id,
            article.view_number     AS view_number,
            article.comment_number  AS comment_number,
            article.praise_number   AS praise_number,
            article.bookmark_number AS bookmark_number,
            article.publish_date    AS publish_date,
            anthology._id           AS anthology_id,
            anthology.title         AS anthology_title
        FROM article article INNER JOIN anthology anthology ON article.anthology_id = anthology._id
            INNER JOIN author author ON author._id = anthology.author_id
        WHERE anthology._id = ${_id}
    </select>
    <select id="getOne" resultMap="articleResultMap">
        SELECT *
        FROM article
        WHERE _id = #{id};
    </select>
    <select id="getArticleDetail" resultMap="articleDetailResultMap">
        SELECT
            article._id             AS _id,
            article.title           AS title,
            article.content         AS content,
            author._id              AS author_id,
            author.nicke_name       AS author_nick_name,
            author.icon_image_id    AS author_icon_image_id,
            article.view_number     AS view_number,
            article.comment_number  AS comment_number,
            article.praise_number   AS praise_number,
            article.bookmark_number AS bookmark_number,
            article.publish_date    AS publish_date,
            anthology._id           AS anthology_id,
            anthology.title         AS anthology_title
        FROM author author INNER JOIN anthology anthology ON author._id = anthology.author_id
            INNER JOIN article article ON anthology._id = article.anthology_id
    </select>
</mapper>
