<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwen.repository.mapper.IAuthorMapper">
    <resultMap type="com.tongwen.domain.Author" id="authorMapping">
        <id property="id" column="_id"/>
        <result property="description" column="description"/>
        <result property="iconImageId" column="icon_image_id"/>
    </resultMap>
    <select id="findAuthorByAuthenticationId" resultMap="authorMapping">
        SELECT
            a._id           AS _id,
            a.description   AS description,
            a.icon_image_id AS icon_image_id
        FROM
            author a INNER JOIN authentication_author aa ON a._id = aa.author_id
        WHERE aa.authentication_id = #{authenticationId}
    </select>
    <insert id="createAuthor" useGeneratedKeys="true" keyProperty="#{author.id}">
        INSERT INTO author ()
    </insert>
</mapper>
