<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwen.repository.mapper.IRoleMapper">
    <cache/>
    <resultMap id="roleMap" type="role">
        <id property="id" column="_id" javaType="long"/>
        <result property="name" column="name" javaType="string"/>
    </resultMap>
    <select id="findRoleByName" resultMap="roleMap">
        SELECT *
        FROM role
        WHERE name = #{name}
    </select>
</mapper>
