@import "../../../common";
.reduce-author-summaries-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  .reduce-author-summaries-accordion {
    width: 100%;
    .mat-expansion-panel {
      .reduce-author-summaries-accordion-panel-header {
        .reduce-author-summaries-accordion-panel-header-title {
          display: flex;
          flex-direction: row;
          justify-items: start;
          align-items: center;
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: start;
            color: $global_color_text_light;
            text-decoration: none;
            font-size: 0.9em;
            .author-icon {
              margin-right: 8px;
              @include circle_icon(32px)
            }
          }
          a:hover {
            color: $global_color_text_normal;
          }
        }
        .reduce-author-summaries-accordion-panel-header-desc {
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-items: center;
          span {
            font-size: 0.9px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
          }
        }
      }
      section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: start;

        article {
          width: 100%;
          margin-bottom: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-items: start;
          font-size: 0.9em;
          color: $global_color_text_normal;
        }
        footer {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-items: end;
          button {
            margin: 8px;
            margin-left: auto;
          }
        }
      }
    }
    .mat-expansion-panel:hover {
      background-color: $global_color_highlight_bg_normal;
    }
    .mat-expansion-panel.mat-expanded {
      background-color: #FFFFFF;
    }

  }
  .reduce-author-summaries-paginator {
    width: 100%;
  }
}
