@import "../../../common";
div.article-detail-wrapper {
  .article-detail-banner {
    .article-detail-banner-content {
      display: flex;
      flex-direction: column;
      justify-items: start;
      align-items: center;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      h1 {
        color: #FFFFFF;
        font-size: 1.8em;
        padding: 0;
        margin: 0;
      }
      @include responsive($width-small) {
        h1 {
          font-size: 2.5em;
        }
      }
      @include responsive($width-medium) {
        h1 {
          font-size: 3em;
        }
      }
      @include responsive($width-large) {
        h1 {
          font-size: 4em;
        }
      }
      .author-info {
        display: inline-block;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 0.9em;
        a {
          margin: 5px;
          color: $global_color_text_high_light;
        }
        a:hover {
          color: $global_color_text_high_light_hover;
        }
        a:visited {
          color: $global_color_text_high_light;
        }
        strong {
          color: $global_color_button_bg_high_light;
          margin: 5px;
        }
      }

      @include responsive($width-small) {
        .author-info {
          font-size: $global_font_size_normal;
        }
      }

      .anthology-title {
        font-size: 0.9em;
      }

      .actions-container {
        button {
          font-size: 0.8em;
          font-weight: bold;
          border-radius: 18px;
          margin: 4px;
          span {
            margin-left: 8px;
          }
        }
        @include responsive($width-small) {
          button {
            font-size: 1.2em;
            margin: 8px;
          }
        }
        .tooltip {
          background: $global_color_highlight_bg_normal;
        }
      }
    }
  }

  @include responsive($width-small) {
    div.article-detail-cover {
      height: 300px;
    }
  }
  @include responsive($width-medium) {
    div.article-detail-cover {
      height: 400px;
    }
  }

  @include responsive($width-large) {
    div.article-detail-cover {
      height: 500px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    background-color: #FFFFFF;
    padding: 32px;
    min-height: 100%;
    .article-detail-cover-image {
      width: 100%;
      height: 300px;
    }

    article {
      color: $global_color_text_normal;
      text-align: start;
      font-size: $global_font_size_normal;
      line-height: $global_line_height_bigger;
    }
    .article-detail-tags-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-items: start;
      margin-top: 16px;
      margin-bottom: 16px;
      span {
        font-size: $global_font_size_smaller;
        color: $global_color_text_light;
        display: inline-block;
        word-break: keep-all;
      }
      a {
        margin-left: 8px;
        font-size: $global_font_size_smaller;
        color: $global_color_text_light;
        display: inline-block;
        word-break: keep-all;
        max-width: 80px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      a.hide-for-small {
        display: none;
      }
      @include responsive($width-small) {
        a.hide-for-small {
          display: inline-block;
        }
      }
      a:hover {
        color: $global_color_text_normal;
      }
      a:first-of-type {
        //margin-left: auto;
      }
    }
    > footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: start;
      margin-top: 64px;
      width: 100%;

      app-author-info-card {
        width: 100%;
      }

      .article-detail-comment-container {
        width: 100%;
        margin-top: 32px;

        header {
          padding: 16px;
          border-bottom: 1px solid $global_color_border;
          font-size: $global_font_size_smaller;
        }

        section {
          padding: 0;

          ul.comment-list {
            padding: 0;
            margin: 0;
            margin-top: 16px;
            width: 100%;
            list-style: none;
            li.comment-item-container {
              display: flex;
              flex-direction: row;
              justify-items: start;
              align-items: start;
              margin-bottom: 16px;
              border-bottom: 1px solid $global_color_border;
              padding-bottom: 16px;
              img.article-detail-commenter-icon {
                @include circle_icon(48px);
                margin-right: 8px;
              }
              .comment-item-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-items: start;

                .commenter-nick-name {
                  a {
                    color: $global_color_text_light;
                    font-size: $global_font_size_normal;
                  }
                  a:hover{
                    color: $global_color_text_normal;
                  }
                  a:visited {
                    color: $global_color_text_light;
                  }
                }
                .comment-time {
                  color: $global_color_text_light;
                  margin-top: 8px;
                  font-size: $global_font_size_smaller;
                }
                .comment-text {
                  margin-top: 8px;
                  font-size: $global_font_size_normal;
                  line-height: $global_line_height_normal;
                }
              }
            }
            li:last-of-type {
              margin-bottom: 0;
              border-bottom: none;
            }
          }
        }

        > footer {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-items: start;
          margin-top: 32px;

          .current-commenter-input-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-items: start;
            .current-commenter-icon {
              @include circle_icon(48px);
            }
            textarea {
              outline: none;
              height: 100px;
              resize: none;
              font-size: $global_font_size_normal;
              line-height: $global_line_height_normal;
              border: 1px solid $global_color_border;
              padding: 8px;
              margin-left: 16px;
              width: 100%;
            }
          }
          .current-commenter-action-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: start;
            width: 100%;
            margin-top: 16px;
            button {
              width: 100%;
              margin-left: 64px;
            }
            @include responsive($width-small) {
              button {
                align-self: end;
                margin-left: auto;
                width: auto;
              }
            }
          }
        }
      }

      @include responsive($width-small) {
        .article-detail-comment-container {
          margin-right: 16px;
          margin-left: 16px;
        }
      }
    }
  }

}


