@import "../../../common";
section {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: #FFFFFF;
  padding: 32px;
  min-height: 100%;

  header {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    color: mat-color($mat-gray, 800);

    h1 {
      font-weight: lighter;
      margin-bottom: 32px;
      width: 100%;
    }
    .article-detail-additional-info-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: start;
      width: 100%;
      .article-detail-author-icon {
        @include circle_icon(64px)
      }
      .article-detail-author-info-container {
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: start;
        width: 100%;
        color: mat-color($mat-gray, 800);
        .article-detail-author-nickname-update-date-container {
          width: 100%;
          margin-bottom: 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-items: start;
          a {
            color: mat-color($mat-gray, 800);
            font-size: 0.9em;
          }
        }
        a:visited {
          color: mat-color($mat-gray, 800);
        }

      }

      .article-detail-update-date {
        margin-top: 8px;
        font-size: 0.8em;
        color: mat-color($mat-gray, 500);
      }
    }
  }

  article {
    color: mat-color($mat-gray, 800);
    text-align: start;
    font-size: 1em;
    line-height: 2.4em;
  }
  .article-detail-tags-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    margin-top: 16px;
    margin-bottom: 16px;

    button {
      font-size: 0.7em;
    }

    a {
      margin-left: 8px;
      font-size: 0.7em;
      color: mat-color($mat-gray, 500);
      display: inline-block;
      word-break: keep-all;
      max-width: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a.hide-for-small {
      display: none;
    }
    @include responsive($width-small) {
      a.hide-for-small {
        display: inline-block;
      }
    }
    a:hover {
      color: mat-color($mat-gray, 800);
    }
    a:first-of-type {
      margin-left: auto;
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;

    .article-detail-actions-big-container {
      width: 100%;
      height: 64px;
      display: flex;
      flex-direction: row;
      justify-items: start;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 16px;

      a {
        margin-right: 16px;
        font-size: 1.5em;
        color: mat-color($mat-gray,800);
        border-radius: 50%;
        border: 1px solid mat-color($mat-gray,800);
        width: 64px;
        height: 64px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: center;

        span{
          font-size: 0.7em;
          width: 100%;
          height: 100%;
          text-align: center;
          margin-top: -1px;
        }
      }

      a.praise{

      }
    }

  }
}

