@import "../../../common";
div.anthology-detail-wrapper {
  div.anthology-detail-cover {
    width: 100%;
    height: 280px;
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;
    background-position: center;
    background-size: auto;

    div.mask {
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.5;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
    }
    div.content {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-items: start;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      h1 {
        color: #FFFFFF;
        font-size: 1.8em;
        font-family: $global_font_family_special;
        padding: 0;
        margin: 0;
      }
      @include responsive($width-small) {
        h1 {
          font-size: 2.5em;
        }
      }
      @include responsive($width-medium) {
        h1 {
          font-size: 3em;
        }
      }
      @include responsive($width-large) {
        h1 {
          font-size: 4em;
        }
      }
      .author-info {
        display: inline-block;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 0.9em;
        a {
          margin: 5px;
          color: $global_color_text_high_light;
        }
        a:hover {
          color: $global_color_text_high_light_hover;
        }
        a:visited {
          color: $global_color_text_high_light;
        }
        strong {
          color: $global_color_button_bg_high_light;
          margin: 5px;
        }
      }

      @include responsive($width-small) {
        .author-info {
          font-size: 1em;
        }
      }

      .anthology-title {
        font-size: 0.9em;
      }

      .actions-container {
        button {
          font-size: 0.8em;
          font-weight: bold;
          border-radius: 18px;
          margin: 4px;
          span {
            margin-left: 8px;
          }
        }
        @include responsive($width-small) {
          button {
            font-size: 1.2em;
            margin: 8px;
          }
        }
        .tooltip {
          background: $global_color_highlight_bg_normal;
        }
      }
    }
  }

  @include responsive($width-small) {
    div.anthology-detail-cover {
      height: 300px;
    }
  }
  @include responsive($width-medium) {
    div.anthology-detail-cover {
      height: 400px;
    }
  }

  @include responsive($width-large) {
    div.anthology-detail-cover {
      height: 500px;
    }
  }
}


