<div class="anthology-detail-wrapper">
  <div class="anthology-detail-cover"
       style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg')">
    <div class="mask"></div>
    <div class="content">
      <h1>{{anthology.title}}</h1>
      <span class="author-info">
        作者<a routerLink="/author/{{anthology.authorId}}">{{anthology.authorNickName}}</a>，更新于 {{anthology.updateDate|date: 'shortDate':'zh-Hans'}}
      </span>
      <div class="actions-container">
        <button mat-stroked-button color="primary">
          <fa-icon [icon]="['fas','thumbs-up']"></fa-icon>
          <span>{{anthology.praiseNumber}}</span>
        </button>

        <button mat-stroked-button color="primary">
          <fa-icon [icon]="['fas','bookmark']"></fa-icon>
          <span>{{anthology.bookmarkNumber}}</span>
        </button>
      </div>
    </div>
  </div>

  <ul>
    <li *ngFor="let articleSummary of anthology.articleSummaries">
      {{articleSummary.title}}
    </li>
  </ul>
</div>
