<div class="anthology-detail-wrapper">
  <app-banner class="anthology-detail-banner"
              bannerImgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <div class="anthology-detail-banner-content">
      <h1>{{anthology.title}}</h1>
      <span class="author-info">
        作者<a routerLink="/author/{{anthology.authorId}}">{{anthology.authorNickName}}</a>，更新于 {{anthology.updateDate|date: 'shortDate':'zh-Hans'}}
      </span>
      <div class="actions-container">
        <button mat-stroked-button color="primary">
          <fa-icon [icon]="['fas','thumbs-up']"></fa-icon>
          <span>{{anthology.praiseNumber}}</span>
        </button>
        <button mat-stroked-button color="primary">
          <fa-icon [icon]="['fas','bookmark']"></fa-icon>
          <span>{{anthology.bookmarkNumber}}</span>
        </button>
      </div>
    </div>
  </app-banner>
  <section>
    <mat-tab-group class="anthology-detail-content-container">
      <mat-tab label="所有文章">
        <app-reduce-article-summaries [pageSize]="10" [totalNumber]="anthology.articleSummaries.length"
                                      [articleSummaries]="anthology.articleSummaries"></app-reduce-article-summaries>
      </mat-tab>
      <mat-tab label="热门文章">
        <app-reduce-article-summaries [pageSize]="10" [totalNumber]="anthology.articleSummaries.length"
                                      [articleSummaries]="anthology.articleSummaries"></app-reduce-article-summaries>
      </mat-tab>
      <mat-tab label="订阅的人">
        <app-reduce-author-summaries [pageSize]="10"></app-reduce-author-summaries>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
