@import "../../theme.scss";

form.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 30px;
  max-width: 500px;
  color: $simpleblog-app-dark-text-color;


  .login-form-field-container {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .login-form-field-container + .login-form-field-container {
    margin-top: 0;
  }

  .login-form-field-container.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    justify-content: space-between;
  }

  .login-form-field-container.text-divider {
    h5 {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: $simpleblog-app-middle-text-color;
    }
  }

  .login-form-field-container.social-application-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    justify-content: space-around;
    button {
      color: $simpleblog-app-dark-text-color;
    }
    button.others {
      color: $simpleblog-app-light-text-color !important;
    }
  }
  .login-form-field-container.register-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 16px !important;

    a {
      color: $simpleblog-app-dark-text-color;
    }
  }
}
