@import "../../common";
.login-page-content-container {
  width: 100%;
  height: 100%;
  @include content-flex-layout();

  form {
    @include general-vertical-form-flex-layout();
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 290px;
    width: unset;
    color: $simpleblog-app-dark-text-color;

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: start;
      justify-content: space-between;
    }
  }

  .text-divider {
    h5 {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: $simpleblog-app-middle-text-color;
    }
  }

  .social-application-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    button {
      color: $simpleblog-app-dark-text-color;
      margin-left: auto;
      margin-right: auto;
    }
    button.others {
      color: $simpleblog-app-light-text-color !important;
    }
  }
  .register-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 16px !important;

    a {
      color: $simpleblog-app-dark-text-color;
    }
  }
}

