*, :after, :before {
    box-sizing: border-box;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

input {
    outline: none;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a, body {
    color: #333333;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

img {
    max-width: 100%;
}

body > main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 85px;
}

@media (min-width: 768px) {
    body > main {
        width: 750px;
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (min-width: 992px) {
    body > main {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    body > main {
        width: 960px;
    }
}

body > nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3F3F3;
    display: block;
    position: fixed;
    opacity: 0.9;
}

body > nav > ul {
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

body > nav > ul > li.logo-link-wrapper {
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    order: 1;
}

@media (min-width: 768px) {
    body > nav > ul > li.logo-link-wrapper {
        margin-left: 20px;
        margin-right: auto;
        justify-self: flex-start;
        order: 0;
    }
}

body > nav > ul > li.logo-link-wrapper > a.logo-link {
    width: 100%;
    display: block;
}

body > nav > ul > li.logo-link-wrapper > a.logo-link > h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #42C02E;
}

body > nav > ul > li.login-register-btn-wrapper {
    margin-right: 20px;
    margin-left: 20px;
}

body > nav > ul > li.login-register-btn-wrapper > a.login-register-btn {
    height: 100%;
    display: block;
}

body > nav > ul > li.author-actions-btn-wrapper {
    margin-right: 20px;
    margin-left: 20px;
    order: 0;
    position: relative;
}

body > nav > ul > li.author-actions-btn-wrapper > ul.author-actions-list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    list-style: none;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

body > nav > ul > li.author-actions-btn-wrapper:hover > ul.author-actions-list {
    display: flex;
}

body > nav > ul > li.author-actions-btn-wrapper > ul.author-actions-list > li {
    width: 100%;
}

body > nav > ul > li.author-actions-btn-wrapper > ul.author-actions-list > li > a.action {
    width: 100%;
    display: block;
    padding: 15px;
}

body > nav > ul > li.author-actions-btn-wrapper > ul.author-actions-list > li:hover {
    background-color: #f8f8f8;
}

@media (min-width: 768px) {
    body > nav > ul > li.author-actions-btn-wrapper {
        margin-right: 20px;
        order: 1;
    }

    body > nav > ul > li.author-actions-btn-wrapper:hover > ul.author-actions-list {
        left: auto;
        right: 0;
    }
}

body > nav > ul > li.author-actions-btn-wrapper > a.author-actions-btn {
    height: 100%;
    display: block;
}

body > nav > ul > li.write-article-btn-wrapper {
    margin-right: 20px;
    order: 2;
}

body > nav > ul > li.write-article-btn-wrapper > a.write-article-btn {
    height: 100%;
    display: block;
    color: #42C02E;
    border-bottom: 2px solid;
}

body > nav > ul > li.search-btn-wrapper {
    margin-right: 20px;
    order: 3;
}

body > nav > ul > li.search-btn-wrapper > a.search-btn {
    height: 100%;
    display: block;
}

body > footer {
    width: 100%;
    background-color: #FFFFFF;
    height: 200px;
}

body > footer > ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

body > footer > ul > li + li {
    margin-left: 15px;
}

@media (min-width: 1200px) {
    body > footer > ul {
        width: 960px;
        padding-left: 0;
    }
}

a.icon-img-wrapper {
    width: 32px;
    height: 32px;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
}

a.icon-img-wrapper.md {
    width: 42px;
    height: 42px;
}

a.icon-img-wrapper.lg {
    width: 64px;
    height: 64px;
}

a.icon-img-wrapper > img {
    border-radius: 50%;
}

a.icon-btn {
    font-size: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 13px;
    background-color: #42C02E;
    color: #FFFFFF;
    display: inline-block;
    word-break: keep-all;
    min-width: 57px;
}

a.icon-btn:hover {
    background-color: #3eb72e;
}

a.icon-btn.lg {
    font-size: 18px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

a.icon-btn.reverse{
    background-color: #FFFFFF;
    color: #42C02E;
    border: 1px solid #42C02E;
}

a.icon-btn.reverse:hover{
    background-color: #F3F3F3;
}

a.icon-btn > span {
    margin-right: 5px;
}

div.message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 15px;
}

div.message-box.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

div.message-box.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

div.message-box > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

div.message-box > ul > li {
    width: 100%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.message-box > ul > li:first-of-type {
    margin-top: 0;
}

div.message-box > ul > li:last-of-type {
    margin-bottom: 0;
}

div.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #C8C8C8;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



