@import "../../common";

.article-summaries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  .article-summary-card {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    overflow: hidden;

    .article-summary-info {
      border-bottom: 1px solid $simpleblog-app-grey-text-color;
      padding-bottom: 16px;
      margin-bottom: 16px;
      .article-summary-author-icon {

      }

      .article-summary-author-nickname {

      }

      .article-summary-anthology-title {
        //font-size: 1em;
        color: $simpleblog-app-dark-text-color;
      }
    }

    .article-summary {
      .article-summary-title {
        font-size: 1.5em;
        font-weight: lighter;
      }

      .article-summary-cover-img {
        height: 200px;
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: 16px;
        background-position: center;
      }

      .article-summary-content {
        width: 100%;
        text-align: start;
      }
    }
    .article-summary-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: end;
      .article-summary-current-author-icon {
        margin: 8px;
        cursor: pointer;
      }

      a {
        font-size: 0.8em;
        cursor: pointer;
        color: $simpleblog-app-dark-text-color;
        text-decoration: none;
        span {
          margin-left: 3px;
        }
        margin-left: 16px;
      }
      a:first-of-type {
        margin-left: auto;
      }
      a:last-of-type {
        margin-right: 8px;
      }

    }

  }
}
